In [4]:
import pandas as pd

weather = pd.read_csv('weather.csv', index_col='DATE')

In [5]:
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,100.0,NaN,NaN,NaN,0.02,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1970-01-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",10.0,20.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1970-01-05,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,10.0,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,9.62,NaN,NaN,0.08,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,12.08,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,14.99,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,16.78,NaN,10.0,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ML models does not work wuth na values so
##### remove null values
I created a function to check null values and column name, passing the dataset. Then applied it to the weather data

In [13]:
# fuction to check null values 
def check_nulls(df):
    null_counts = df.isnull().sum()
    null_dict = {}
    for col in df.columns:
        if null_counts[col] > 0:
            null_dict[col] = null_counts[col]
    for col, null_count in null_dict.items():
        print(f"{col}: {null_count}")

In [14]:
# Check for null values
check_nulls(weather)

ACMH: 9672
ACSH: 9671
AWND: 5116
FMTM: 9163
PGTM: 7018
SNWD: 2
TAVG: 13123
TSUN: 19256
WDF1: 9676
WDF2: 9618
WDF5: 9701
WDFG: 14166
WDFM: 19286
WESD: 13216
WSF1: 9673
WSF2: 9618
WSF5: 9702
WSFG: 11824
WSFM: 19286
WT01: 12155
WT02: 18034
WT03: 18000
WT04: 18951
WT05: 18923
WT06: 19106
WT07: 19179
WT08: 15371
WT09: 19147
WT11: 19273
WT13: 17102
WT14: 18400
WT15: 19245
WT16: 12710
WT17: 19227
WT18: 18120
WT21: 19282
WT22: 19238
WV01: 19286